* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 320px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.card:hover{
    transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.cover img {
  width: 100%;
  height: 110px;
  object-fit: cover;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-top: -45px;
}

.avatar img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid white;
}

.info {
  padding: 15px;
  text-align: center;
}

.info h2 {
  margin: 8px 0 4px;
}

.email {
  font-size: 14px;
  color: gray;
}

.status {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  margin: 8px 0;
}

.status.active {
  background: #e6f7ed;
  color: #1a7f37;
}

.details p {
  font-size: 14px;
  margin: 4px 0;
}

.skills {
  margin: 12px 0;
}

.skills span {
  display: inline-block;
  background: #eef2ff;
  color: #3730a3;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin: 3px;
}

.extras {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}

.extras img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.extras p {
  font-size: 12px;
  margin-bottom: 4px;
  color: gray;
}
